<div *ngIf="item">
  <div class="item-laptop">
    <p>
      <a class="title" href="{{item.url}}">
        {{item.title}}
      </a>
      <span class="domain" href="">{{item.url | domain}}</span>
    </p>
<div class="subtext-laptop">
  {{item.score}} points by
  <a href="">{{item.by}}</a>
  <a [routerLink]="['/item', item.id]">
    <span *ngIf="item.descendants !== 0">{{item.descendants}}
        <span *ngIf="item.descendants === 1" >comment</span>
      <span *ngIf="item.descendants > 1" >comments</span>
    </span>
  </a>
</div>