p {
    margin: 2px 0;
}

a {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.title {
    font-size: 16px;
}

.subtext-laptop {
    font-size: 12px;
    color: #696969;
    font-weight: bold;
    letter-spacing: 0.5px;

}

.domain {
    color: #696969;
    font-weight: bold;
    letter-spacing: 0.5px;
}

