<div class="main-content">
  <ol>
    <li class="listnumber" *ngFor="let item of items | slice:0:30" class="post">
      <item itemID="{{ item }}"></item>
    </li>
  </ol>
</div>
<div class="nav">
  <a href="" class="prev"> < Prev</a>
  <a href="" class="more"> More ></a>
</div>
