a {
    color: #b92b27;
    text-decoration: none;
    font-weight: bold;
}

ol {
    padding: 0 40px;
    margin: 0;
}

li {
    position: relative;
}

.main-content {
    position: relative;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 8px 0;
    z-index: 0;
}

.post {
    padding: 10px 0 10px 5px;
    border-bottom: 1px solid #CECECB;
}

.nav {
    padding: 10px 40px;
    margin-top: 10px;
    font-size: 17px;
}

.prev {
    padding-right: 20px;
}

.list {
    list-style: none;
}

