body {
    margin-bottom: 0;
}

#wrapper {
    background-color: #f6f6ef;
    position: relative;
    width: 85%;
    min-height: 80px;
    margin: 0 auto;
    font-family: 'Open sans', sans-serif;
    font-size: 15px;
    height: 100%;
}