<div class="main-content">
  <div *ngIf="item" class="item">
    <div class="laptop" [class.item-header]="item.descendants > 0 || item.type==='comment'"[class.head-margin]="item.text"></div>
    <p>
      <a class="title" href="{{item.url}}">
        {{item.title}}
      </a>
      <span *ngIf="item.domain">({{item.domain}})</span>
    </p>
    <div class="subtext">
      <span> |
        <a [routerLink] ="['/item', item.id]">
        <span *ngIf="item.descendants !== 0">
          {{item.descendants}}
          <span *ngIf="descendants === 1">comment</span>
          <span *ngIf="item.descendants > 1">comments</span>
        </span>
      </a>
      </span>
    </div>
  </div>
  <p class="subject" [innerHTML]="item.content"></p>
  <app-comment-tree [commentTree]="item.text"></app-comment-tree>
</div>
