<div *ngIf="!comment.deleted">
  <div class="comment-tree">
    <p class="comment-text" [innerHTML]="comment.content"></p>
    <ul class="subtree">
      <li *ngFor="let subComment of comment.comments">
        <app-comment [comment]="subComment"></app-comment>
      </li>
    </ul>
  </div>
</div>
